:root {
  --vp-c-bg-output: #fafbfc;
}

[data-theme='dark'] {
  --vp-c-bg-output: #272b2f;
}

.markdown-input {
  resize: none;
  outline: none;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  font-size: 16px;
  color: var(--vp-c-text);
  background-color: var(--vp-c-bg-alt);
  border: 1px solid var(--vp-c-border);
  border-radius: 5px;
  box-sizing: border-box;
  &:focus {
    background-color: var(--vp-c-bg);
    box-shadow: 0 0 5px 2px var(--vp-c-accent-text);
  }
}

.markdown-output {
  padding: 10px 15px;
  margin: 15px 0;
  color: var(--vp-c-text);
  background-color: var(--vp-c-bg-output);
  border: 1px solid var(--vp-c-border);
  border-radius: 5px;
}
