@import '@vuepress/theme-default/lib/styles/_variables';

.markdown-input {
  resize: none;
  outline: none;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  font-size: 16px;
  background-color: #fdfdfd;
  border: 1px solid $borderColor;
  border-radius: 5px;
  box-sizing: border-box;
  &:focus {
    background-color: #ffffff;
    box-shadow: 0 0 1px 1px lighten($accentColor, 50%);
  }
}

.markdown-output {
  padding: 10px 15px;
  margin: 15px 0;
  background-color: #fafbfc;
  border: 1px solid $borderColor;
  border-radius: 5px;
}
